[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
aiohttp = "*"
aioredis = "*"
aiosignal = "*"
apscheduler = "*"
arq ="*"
async-timeout = "*"
asyncpg = "*"
attrs = "*"
"backports.zoneinfo" = "*"
charset-normalizer = "*"
click = "*"
dataclasses-json = "*"
frozenlist = "*"
hiredis ="*"
httptools ="*"
idna = "*"
marshmallow = "*"
marshmallow-enum = "*"
multidict = "*"
mypy-extensions = "*"
orjson ="*"
pydantic = "*"
pyparsing = "*"
python-dotenv = "*"
pytz ="*"
pytz-deprecation-shim = "*"
sanic = "*"
sanic-routing = "*"
six = "*"
typing-inspect ="*"
typing-extensions = "*"
tzdata = "*"
tzlocal ="*"
ujson = "*"
uvloop = "*"
websockets = "*"
yarl = "*"

[dev-packages]

[requires]
python_version = "3.10"
